block vars
	- var title ='Democracy 2'

block body

	<a href="/dashboard">Dashboard</a>
	<a href="/democ2">D^2</a>
	<a href="/logout">logout</a>
	
	p.
		This is in reference to the driving with out an up to date licence law. 
		


	h2 Address not up to date on licence
	p.
	form(method="post")
		input(type='hidden', name="_csrf", value=csrfToken)
		input(type='hidden', name="lawName", value=law1)


		span Should there be a fine?
		span Yes
		input(type="radio" name="AddressLicenceFineYN" value="Yes")
		span No
		input(type="radio" name="AddressLicenceFineYN" value="No")
		br
		br

		span How much should the fine be?
		br
		span Enter a number
		input(type="text" name="AddressLicenceFinePrice" size='7')

		br
		br
		input(type="submit")
